@model BusinessLayer.Profile
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
<h3>@Model.Username</h3>
<br />
<h4>
    @foreach (var achievement in Model.Achievements)
    {
        @Html.DisplayFor(a => achievement.Rank);
        <br />
        @Html.DisplayFor(a => achievement.Event);
        <br />
    }
    <br /> @Model.FreeText <br /> @Model.SocialURL
</h4>

@{
    
    if (HttpContextAccessor.HttpContext.Session != null)
    {
        if (HttpContextAccessor.HttpContext.Session.Get<int>("UserId") == Model.UserId)
        {
            <a type="button" asp-controller="Profiles" asp-action="EditProfile" asp-route-id="@Model.UserId">Edit Profile</a>
        }
    }

}


