@model BusinessLayer.Profile
@using Fortnite_LFG_Hub.ViewModels
@using BusinessLayer.Logic
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profile";
}

<h1>@Model.Username</h1> <!-- Picture should come here too -->
<br />
@{
    if (Model.Region != BusinessLayer.Regions._)
    {
        <h3 style="display:inline-block;">@Model.Region.ToString()</h3>
    }
    else
    {
        <h3 style="display:inline-block;">No Region</h3>
    }
    if (Model.Looking)
    {
        <h3 style="display:inline-block;" color="green"> - LFG</h3>
    }
    else
    {
        <h3 color="red"> - NOT LFG</h3>
    }
}
<br />
@if (Model.Flairs.Count > 0)
{
    foreach (var flair in Model.Flairs)
    {
        string cleanFlair = flair.ToString().Replace("_", " ");
        <span class="badge badge-pill">@cleanFlair</span>
    }
}
<br /> <br />
@foreach (var achievement in Model.Achievements)
{
    <h4 style="display:inline-block;">#@achievement.Rank - </h4>
    string replacedEvent = achievement.Event.ToString().Replace("_", " ");
    <h4 style="display:inline-block;">@replacedEvent</h4>
    <br />
}
@{
    <br />
    if (!string.IsNullOrWhiteSpace(Model.FreeText))
    {
        <span>@Model.FreeText</span>
    }
    else
    {
        <span>This user has not shared any additional information</span>
    }
    <br />
    if (!string.IsNullOrWhiteSpace(Model.SocialURL))
    {
        <a href="@Model.SocialURL"><h5>Twitter</h5></a>
    }
    else
    {
        <span>This user has not linked a social platform</span>
    }
}
<br />
@{

    if (HttpContextAccessor.HttpContext.Session != null)
    {
        if (HttpContextAccessor.HttpContext.Session.Get<int>("UserId") != 0)
        {
            if (HttpContextAccessor.HttpContext.Session.Get<int>("UserId") == Model.UserId)
            {
                // If the session UserId is the same as the current profile in the view, we can edit it.
                <a asp-controller="Profiles" asp-action="EditProfile" asp-route-id="@Model.UserId">Edit Profile</a>
                <br />
            }

            // If we are logged in we are allowed to comment.
            CommentViewModel comment = new CommentViewModel();
            <partial name="Comment" model="comment" />
        }
    }
}
<br />
@{
    foreach (var comment in Model.Comments)
    {
        ProfileLogic logic = new ProfileLogic();
        string username = logic.GetUsernameForId(comment.SourceUser);
        <div class="list-group-item">
            <span><a asp-controller="Profiles" asp-action="Profile" asp-route-id="@comment.SourceUser">@username</a> | @comment.TimePosted</span>
            <p>@comment.CommentText</p>
            @if (HttpContextAccessor.HttpContext.Session.Get<int>("UserId") == comment.SourceUser)
            {
                <span><a asp-controller="Profiles" asp-action="DeleteComment" asp-route-commentId="@comment.CommentId" asp-route-id="@Model.UserId">Delete</a></span>
            }
        </div>
        <br />
    }
}



