@model Fortnite_LFG_Hub.Models.Profile
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
<h3>@Model.Username</h3>
<br />
<h4>
    @foreach (Achievement achievement in Model.Achievements)
    {
        @Html.DisplayFor(a => achievement.Rank);
        <br />
        @Html.DisplayFor(a => achievement.Event);
        <br />
    }
    <br /> @Model.FreeText <br /> @Model.SocialURL
</h4>

@{
    Profile sessionProfile = HttpContextAccessor.HttpContext.Session.Get<Profile>("UserProfile");
    if(sessionProfile != null)
    {
        if(sessionProfile.Username == Model.Username)
        {
            <a type="button" asp-controller="Profiles" asp-action="EditProfile" asp-route-id="@Model.Username">Edit Profile</a>
        }            
    }
                  
}                                                            


